<h2>Resend confirmation</h2>

Fill out the form below and instructions to confirm your account will be emailed to you:<br />
<br />

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
