<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name, 'First Name*' %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name, 'Middle Name' %>
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name, 'Last Name*' %>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :birth_date_str, 'Birth Date' %>
    <%= f.text_field :birth_date_str, :size => 10 %> (mmddyyyy)
  </div>
  <div class="field">
    <%= f.label :Phone, 'Phone' %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :state_id, 'State*' %>
    <%= f.select :state_id, State.to_options, :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
