<h2>Change your password</h2>

<p>
  Your password has been reset. Choose a new password below.
</p>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  <div class="password_field">
    <%= f.label :password, "Choose password" %>
    <%= f.password_field :password %>
  </div>
  <div class="password_field">
    <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="submit_field">
    <%= f.submit "Save this password" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
